



/* recipe stuff*/
.title {
  float: left;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 25;
  width: 70%;
}

#titlebutton {
  float: right;
  width: 12%;
  height: 7%;
  font-size: 15;
}

.recipedesc {
  float: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.recipedesc img {
  height: 90%;
  width: 100%;
}

.ingredients {
  height: 60%;
  width: 80%;
  background-color: rgba(126, 51, 238, .3);
  float:right;
  margin: 10% 10% 2% 10%;
  padding-bottom: 10%;
}

.ingredients h2{
  padding-left: 20%;
  padding-top: 3%;
  font-size: 35;
}

.ingredients hr {
  margin-top: 10%;
  width: 90%;
  border-color: #333;
}

.times {
  float: left;
  width: 80%;
}

.times span {
  padding-left: 10%;
}

#ingredientstitle {
  font-size: 25;
}

.ingredients ul {
  padding-left: 10%
}

.methods {
  float: left;
  width: 100%;
  height: 120%;
}

.methods h2 {
  margin-left: 10%;
  padding-top: 3%;
  font-size: 35;
}

#step1 {
  width: 80%;
  margin-left: 10%;
  border-style: solid;
  float:left;
  margin-bottom: 3%;
}

#step1 h2{
  margin-left: 1%;
  padding-top: 0%;
  width: 15%;
}

#step1 p {
  padding-bottom: 3%;
  padding-left: 3%;
  font-size: 20;
}

#step2 {
  width: 80%;
  margin-left: 10%;
  border-style: solid;
  float:left;
  margin-bottom: 3%;
}

#step2 h2{
  margin-left: 1%;
  padding-top: 0%;
  width: 15%;
}

#step2 p {
  padding-bottom: 3%;
  padding-left: 3%;
  font-size: 20;
}

#step3 {
  width: 80%;
  margin-left: 10%;
  border-style: solid;
  float:left;
  margin-bottom: 3%;
}

#step3 h2{
  margin-left: 1%;
  padding-top: 0%;
  width: 15%;
}

#step3 p {
  padding-bottom: 3%;
  padding-left: 3%;
  font-size: 20;
}








